<form name="modalConfirmation">
    <div class="modal-header">
        Confirm?
    </div>

    <div class="modal-body">  
        Confirm?
    </div>

    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ctrl.submit(true)">Yes</button>
        <button class="btn btn-danger" ng-click="ctrl.submit(false)">No</button>
    </div>
</form>