<h4>Definitions</h4>

<div class="panel panel-default">

    <div class="panel-heading">
       <button class="btn btn-success" ng-click="ctrl.refreshDefinitions()"><i class="fa fa-refresh"></i></button>
    </div>

    <div class="panel-body">
     <button class="btn btn-info" type="button" ng-click="ctrl.handleClick()" id="button-new"><i class="fa fa-plus"></i> Add</button>
     <div class="panel-footer">
        <span class="label label-success" ng-bind="ctrl.message.ok"></span>
        <span class="label label-danger" ng-bind="ctrl.message.error"></span>
    </div>
      <div class="row" id="newdefinition" style="display:none;">
      <div class="col-md-2">

          </div>
            <div class="col col-sm-12 col-md-8">
              <form ng-submit=" ctrl.submitForm()">
                <input type="hidden" name="id" id="_id" ng-model="ctrl.defuserData._id">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Marketing cost" ng-model="ctrl.defuserData.name">
                </div>
                <div class="form-group">
                  <label for="email">Recipient</label>
                  <input type="email" class="form-control" id="recipient_email" placeholder="recipient_email@email.com" ng-model="ctrl.defuserData.recipient_email">
                </div>
                <div class="form-group">
                  <label for="age">Amount</label>
                  <input id="amount" type="number" class="form-control" ng-model="ctrl.defuserData.amount"/>
                </div>
                <div class="form-group">
                  <label for="position">Description</label>
                  <input id="description" type="text" class="form-control" ng-model="ctrl.defuserData.description"/>
                </div>
                <button type="submit" class="btn btn-primary addplayer" ng-disabled="ctrl.definitionInvalid()">Save</button>
              </form>
            </div>
            <div class="col-md-2">

            </div>
          </div>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Recipient</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="entry in ctrl.definitions">
                <td ng-bind="{{$index+1}}"></td>
                <td ng-bind="entry.name"></td>
                <td ng-bind="entry.recipient_email"></td>
                <td ng-bind="entry.amount"></td>
                <td ng-bind="entry.description"></td>
                <td>
                    <button class="btn btn-warning" ng-click="ctrl.getOneById(entry._id)">Edit</button>
                    <button class="btn btn-danger delete" ng-click="ctrl.deleteDefinition(entry._id)">Delete</button>
                </td>
              </tr>
        </table>
    </div>
</div>
