<h4>Programming Web Application 2019</h4>

<div class="panel panel-default" style="text-align: center;">

    <div class="panel-body" ng-if="!ctrl.session.login">
        <label for="email">Email</label>
        <input id="email" type="text" class="form" ng-model="ctrl.creds.email"/>
        <label for="password">Password</label>
        <input id="password" type="password" class="form" ng-model="ctrl.creds.password"/>
        <button class="btn btn-primary" ng-click="ctrl.doLogin()">Login</button>
    </div>

    <div class="panel-body" ng-if="ctrl.session.login">
        <button class="btn btn-primary" ng-click="ctrl.doLogout()">Logout</button>
    </div>

    <div class="panel-footer">
        <span class="label label-success" ng-bind="ctrl.message.ok"></span>
        <span class="label label-danger" ng-bind="ctrl.message.error"></span>
    </div>
                
</div>