<form name="modalTransfer">
    <div class="modal-header">
    </div>

    <div class="modal-body">
        <label for="recipent">Recipient</label>
        <input id="recipient" list="recipients" type="text" class="form" autocomplete="off" ng-model="ctrl.transfer.recipient"/>
        <datalist id="recipients">
            <option ng-repeat="recipient in ctrl.recipients">{{recipient.email}}</option>
        </datalist>
        <label for="amount">Amount</label>
        <input id="amount" type="number" class="form" ng-model="ctrl.transfer.amount"/>
        <label for="description">Description</label>
        <input id="description" type="text" class="form" ng-model="ctrl.transfer.description"/>
    </div>

    <div class="modal-footer">
        <span class="label label-success" ng-bind="ctrl.message.ok"></span>
        <span class="label label-danger" ng-bind="ctrl.message.error"></span>
        <button class="btn btn-primary" ng-click="ctrl.submit()">Submit</button>
    </div>
</form>
